@mixin tables_basic {
  td, th {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #666;
  }
  
  thead:first-child tr:first-child th, 
  thead:first-child tr:first-child td {
      border-top: 0 none;
  }
  
}

@mixin tables_striped {
  tbody tr:nth-child(2n+1) td, 
  tbody tr:nth-child(2n+1) th {
      background-color: #222;
  }
}