header.dark-header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 50;
  background: $dcl-red;
  @include column($float: none);
  position: relative;
  
  .site-details {
    margin-bottom: 10px;
    width: 207px;
    margin: 0 auto;
      @media (min-width: $break_large_up) {
        float: left;
        margin-bottom: 0;
    }
  }

  h1.site-name {
    margin: 0;
    line-height: 0.9;

    a {
      position: absolute;
      top: -5px;
      left: 10px;
      display: block;
      background-image: url(../img/dcl-logo.png);
      background-repeat: no-repeat;
      background-position: 50% 0;
      text-indent: -9000px;
      width: 100%;
      background-size: contain;
      line-height: 1;
      height: 135px
    }
    @media all and (min-width: $break_large_up) {
      a {
        background-position: 0 0;
      }
    }
  }

  .region-header ul.menu  {
    @include navigation_horizontal;

  li a {
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 8px;
    font-size: 18px;
    background: transparent;
    width: auto;
  }

  li a:hover,
  li.active-trail a,
  li a:focus {
    background: #333333;
    color: #FFF;
  }

  li a:hover,
  li.active a,
  li.active-trail a,
  li a:focus {
    background: #000;
    color: #FFF;
  }

  li.menu-mlid-236 a:hover,
  li.menu-mlid-236 a:focus,
  li.menu-mlid-236.active a,
  li.menu-mlid-236.active-trail a {
    background: #000;
  }

  li.menu-mlid-478 a:hover,
  li.menu-mlid-478 a:focus,
  li.menu-mlid-478.active-trail a {
    background: #000;
  }

  li.menu-mlid-459 a:hover,
  li.menu-mlid-459 a:focus,
  li.menu-mlid-459.active-trail a {
    background: #000;
  }

  li.menu-mlid-440 a:hover,
  li.menu-mlid-440 a:focus,
  li.menu-mlid-440.active-trail a {
    background: #000;
  }

  li.menu-mlid-438 a:hover,
  li.menu-mlid-438 a:focus,
  li.menu-mlid-438.active-trail a {
    background: #000;
  }
    
    a {
      color: #FFF;
    }
  }

}