#homepage {
  #highlight {
    background-image: url("/img/codesprint.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 400px;
    overflow: hidden;
    >div {
      @include wrapper();
    }
    .slide {
      @include column(16);
      float: none;
      margin-left: auto;
      margin-right: auto;
      @include box-sizing(border-box);
      background-color: rgba(0,0,0,0.8);
      padding: 20px;
      margin-top: 90px;
      //max-width: 900px;
      overflow: hidden;
      @include adjust-font-size-to(26px, 1.5);
    }
  }
}

#page {
  margin-top: -100px;
  >div {
    @include wrapper();
    >img:first-child {
      margin-left: 0;
    }
    >img {
      margin-left: 100px;
    }
  }
}

.grid {
  overflow: hidden;
  padding: 2em 0 0 0.5em;
  max-width: 64em;
  margin: 0 auto;
}
.grid li {
  padding: 0 0.5em 0.5em 0;
  @include box-sizing(border-box);
  list-style-type: none;
}
.grid li > div {
  background: #808080;
  color: #FFF;
  padding: 7em 2em;
  text-align: center;
}

.menu .grid li > div {
  padding: 1em;
}

.grid li.wide {
  width: 100%;
}
.grid li a {
  color: #fff;
}  

@media all and (min-width: 40em) {
  .grid li {
    float: left;
    width: 33.3333333%;
  }
  .grid li.wide {
    width: 66.666666%;
  }
}
@media all and (min-width: 60em) {
  .grid li {
    width: 25%;
  }
  .grid li.wide {
    width: 50%;
  }
}

/** main styles **/

header.main-header {
  background: #000;
  color: #FFF;
}
 header.main-header a {
  color: #FFF;
 }

header.main-header h1,
header.main-header h2,
header.main-header h3, 
header.main-header h4, 
header.main-header h5 {
  display: inline-block;
  margin-right: 20px;
}